* {
  margin: auto;
  padding: 0%;
  box-sizing: border-box;
}

/***********the different colors used on the entire site****************/
:root {
  --clr-primary1: #962619;
  --clr-primary2: #0b2f6c;
  --clr-secondary1: #a9d0da;
  --clr-secondary2: #f1ecdd;
  --clr-secondary3: #265127;
  --clr-secondary4: #c6a77d;

  --clr-accent: snow;
  --ff-h: "permanent marker", sans-serif;
  --ff-p: "poppins", sans-serif;
}

body {
  background-color: var(--clr-secondary2);
}

img {
  max-width: 100%;
  display: block;
}

hr {
  color: var(--clr-secondary3);
}

@media (min-width: 800px) {
  .nav {
    display: flex;
    gap: 1rem;
  }
}

.nav {
  padding-top: 2rem;
}

nav a {
  cursor: pointer;
  transition: 0.2s ease;
  font-family: var(--ff-p);
  /* padding: 1rem; */
  color: var(--clr-primary2);
  font-size: 1.2rem;
}

nav a:hover {
  text-decoration: underline;
}

.toggle-btn {
  display: none;
  list-style: none;
}

nav.shown .menu_logo {
  display: none;
}

/* .banner {
  position: sticky;
  top: 0;
} */

.banner a {
  text-decoration: none;
}

@media (max-width: 800px) {
  nav {
    display: none;
  }

  .toggle-btn {
    border: none;
    display: block;
    cursor: pointer;
  }

  .logo_grid {
    display: none;
  }

  nav.shown {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--clr-primary2);
  }

  #banner_mobile {
    display: flex;
    background-color: var(--clr-primary2);
  }

  #banner_mobile img {
    width: 25%;
  }

  #banner_mobile > * {
    flex-basis: 100%;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding-bottom: 1rem;
  }

  .nav a {
    color: var(--clr-secondary1);
  }

  .filtrer_by {
    color: var(--clr-secondary1);
  }

  .footer_grid {
    font-size: 0.7rem;
  }
}

@media (max-width: 600px) {
  #banner_mobile img {
    width: 50%;
  }
}

footer {
  margin-top: 1rem;
  background: var(--clr-secondary1);
  font-family: var(--ff-p);
  color: var(--clr-primary2);
  list-style: none;
  padding-top: 2rem;
}

.nav,
.nav_footer,
ul {
  list-style: none;
  text-decoration: none;
}

.footer_grid {
  display: flex;
  gap: 1rem;
}

/* .footer_grid > * {
  flex-basis: 100%;
} */

ul {
  list-style: none;
}

.nav_icons {
  display: flex;
  /* flex-direction: row; */
  grid-row: 4;
  grid-column: 5;
  /* gap: 1rem; */
  max-width: 30%;
  /* margin-top: 25px; */
  cursor: pointer;
}
