h1,
h2,
h3 {
  font-family: var(--ff-h);
  color: var(--clr-primary2);
}

p {
  color: var(--clr-primary2);
}

h3,
h4,
h5,
p {
  font-family: var(--ff-p);
}

.design_section {
  background-image: url(images/grafisk/Billede_grafiske_elementer.svg);
  background-size: cover;
  aspect-ratio: 16 / 9;
  width: 100%;
}

h1,
.h2 {
  text-align: center;
  padding-top: 7rem;
}

.first_h1 {
  font-size: 3rem;
}

.h2,
.third_h2 {
  font-size: 5rem;
}

.design_second_section_wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
}

.second_h3 {
  grid-column: 2 / 4;
  grid-row: 2;
  font-size: 1.5rem;
  color: var(--clr-primary1);
}

.second_p_01 {
  grid-column: 2 / 4;
  grid-row: 3;
}

.second_p_02 {
  grid-column: 2 / 4;
  grid-row: 4;
}

.second_p_style {
  font-size: 1.3rem;
}

.second_p_03 {
  grid-column: 4;
  grid-row: 1;
}

.second_p_04 {
  grid-column: 4;
  grid-row: 2;
}

.second_p_05 {
  grid-column: 4;
  grid-row: 3;
}

.second_p_06 {
  grid-column: 4;
  grid-row: 4;
}

.second_p_07 {
  grid-column: 4;
  grid-row: 5;
}

.design_third_section_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.third_h2 {
  grid-column: 2 / 4;
  grid-row: 1;
}

.third_logo_01 {
  grid-column: 2;
  grid-row: 2;
}

.third_logo_02 {
  grid-column: 3;
  grid-row: 2;
}

.design_fourth_section_wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.fourth_h3 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 2rem;
  color: var(--clr-primary1);
}

.fourth_h4_01 {
  grid-column: 4;
  grid-row: 1;
  font-size: 3rem;
  color: var(--clr-primary2);
}

.fourth_h4_02 {
  grid-column: 3;
  grid-row: 2;
  font-size: 3rem;
  color: var(--clr-primary2);
}

.farve {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}

.roed {
  grid-column: 3;
  grid-row: 1;
  background-color: var(--clr-primary1);
}

.blaa {
  grid-column: 2;
  grid-row: 1;
  background-color: var(--clr-primary2);
}

.lyseblaa {
  grid-column: 4;
  grid-row: 2;
  background-color: var(--clr-secondary1);
}

.creme {
  grid-column: 5;
  grid-row: 2;
  background-color: var(--clr-secondary2);
  border: 2px solid black;
}

.groen {
  grid-column: 6;
  grid-row: 2;
  background-color: var(--clr-secondary3);
}

.design_fifth_section_wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.fifth_h3_01 {
  grid-column: 1 / 6;
  grid-row: 1;
  font-size: 3rem;
  color: var(--clr-primary2);
}

.fifth_h3_02 {
  grid-column: 1 / 6;
  grid-row: 3;
  font-size: 3rem;
  color: var(--clr-primary2);
  font-family: var(--ff-h);
}

.fifth_p {
  grid-column: 1 / 6;
  grid-row: 2;
  font-size: 3rem;
}

.design_sixth_section_wrapper {
  display: flex;
  gap: 2rem;
  padding-bottom: 2rem;
}

.design_sixth_section_wrapper > * {
  flex-basis: 100%;
}

.sixth_img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 75%;
}

.sixth_p {
  max-width: 60ch;
  padding: 2rem;
}

.design_seventh_section_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
}

.seventh_p {
  grid-column: 2;
  grid-row: 1;
  max-width: 60ch;
}

.seventh_img_01 {
  grid-column: 2;
  grid-row: 2 / 4;
}

.seventh_img_02 {
  grid-column: 3;
  grid-row: 1;
}

.seventh_img_03 {
  grid-column: 3;
  grid-row: 2;
}

.seventh_img_04 {
  grid-column: 3;
  grid-row: 3;
}

@media (max-width: 1100px) {
  .third_h2 {
    font-size: 4rem;
  }
}

@media (max-width: 900px) {
  .design_section {
    background-image: none;
  }

  #first_h2 {
    padding: 0.5rem;
  }

  .h2 {
    font-size: 3rem;
  }

  .design_second_section_wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1rem;
  }

  .second_h3 {
    grid-column: 1;
    grid-row: 1;
  }

  .second_p_01 {
    grid-column: 1;
    grid-row: 2;
    max-width: 40ch;
  }

  .second_p_02 {
    grid-column: 1;
    grid-row: 3;
    max-width: 40ch;
  }

  .second_p_03 {
    grid-column: 1;
    grid-row: 4;
  }

  .second_p_04 {
    grid-column: 1;
    grid-row: 5;
  }

  .second_p_05 {
    grid-column: 1;
    grid-row: 6;
  }

  .second_p_06 {
    grid-column: 1;
    grid-row: 7;
  }

  .second_p_07 {
    grid-column: 1;
    grid-row: 8;
  }

  .third_h2 {
    grid-column: 1 / 5;
    grid-row: 1;
  }

  .design_fourth_section_wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-bottom: 2rem;
  }

  .fourth_h4_01 {
    grid-column: 2;
    grid-row: 1;
    font-size: 2rem;
  }

  .fourth_h4_02 {
    grid-column: 2;
    grid-row: 2;
    font-size: 2rem;
  }

  .farve {
    width: 3rem;
    height: 3rem;
  }

  .roed {
    grid-column: 3;
    grid-row: 1;
  }

  .blaa {
    grid-column: 4;
    grid-row: 1;
  }

  .lyseblaa {
    grid-column: 3;
    grid-row: 2;
  }

  .creme {
    grid-column: 4;
    grid-row: 2;
  }

  .groen {
    grid-column: 5;
    grid-row: 2;
  }

  .fifth_h3_01 {
    font-size: 1.5rem;
  }

  .fifth_h3_02 {
    font-size: 1.5rem;
  }

  .fifth_p {
    font-size: 1.5rem;
  }

  .design_seventh_section_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .seventh_p {
    grid-column: 2;
    grid-row: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .seventh_img_01 {
    grid-column: 1 / 4;
    grid-row: 3;
  }

  .seventh_img_02 {
    grid-column: 1;
    grid-row: 2;
  }

  .seventh_img_03 {
    grid-column: 2;
    grid-row: 2;
  }

  .seventh_img_04 {
    grid-column: 3;
    grid-row: 2;
  }
}
